<?xml version="1.0"?>

<!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <appSettings>
    
    <add key="BotId" value="BrickBot" />
    <add key="MicrosoftAppId" value="db05ed1d-3f20-49c5-95b6-734000d8bbee" />
    <add key="MicrosoftAppPassword" value="h4hkubOjnm0xrg73vcRaDLM" />
    <add key="oauth_consumer_key" value="41C887AAFE164EDC9BF4F94715B74E55" />
    <add key="oauth_token" value="D5E2C48CC5014F0CA25980E9CE4BCAA5" />
    <add key="consumer_secret" value="F452750532C24ACA8ADFEDEA2F113A85" />
    <add key="token_secret" value="C323B48ADE52404DAEFB38A363E28634" />
    <add key="bsapikey" value="SN9Y-MBSe-KJ4o" />
    <add key="serviceurl" value="https://brickbot.azurewebsites.net" />
    <add key="rebrickableapikey" value="ea5862bfe894c7c4c277fe29c11f2bf9"/>
  </appSettings>

